.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  height: calc(100vh - var(--header-height));

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    input {
      margin-bottom: 20px;
      width: 300px;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 10px 20px;
    }

    button {
      animation: bounce 2s forwards;
    }
  }
}
